@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.a-link{
    text-decoration: none;
    color: inherit;
}

.cabecalho-container{
  padding: 20px 100px;
}

.isotipo-preto{
  width: 40px;
}

.h1-titulo-principal{
  font-size: 70px;
}

.titulo-principal-container{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue{
  color: #0D4B9D;
}

.cian{
  color: #0296B2;
}

.brown{
  color: #8D6049;
}

.imagem-container{
  width: 100%;
  height: 100%;
}

.imagem-bg{
  width: 100%;
height: 100%;
  padding: 0 100px;
  border-radius: 10%;
}

.primeiro-sobre-container{
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 100px 100px;
  justify-content: center;
  align-items: center;
}

.primeiro-sobre-texto{
  font-size: 20px;
  font-weight: 400;
  max-width: 60%;
}

.bold{
  font-weight: 600;
}

.segundo-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 100px;
}

.segundo-sobre-titulo{
  font-size: 34px;
}

.terceiro-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 100px;
}

.terceiro-sobre-titulo{
  text-align: center;
  font-size: 34px;
}

.cards-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.p-cards{
  font-size: 20px;
  font-weight: 400;
}

.cards{
  border-radius: 30px;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

.icones-cards{
  width: 70px;
}

@media (max-width:650px) {
  .cabecalho-container{
  padding: 20px 50px;
}

.h1-titulo-principal{
  font-size: 30px;
}

.titulo-principal-container{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue{
  color: #0D4B9D;
}

.cian{
  color: #0296B2;
}

.brown{
  color: #8D6049;
}

.imagem-container{
  width: 100%;
  height: 400px;
  background: url(/front-end/img/duas-lindas-garotas-em-maios-na-piscina.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.imagem-bg{
  display: none;
}

.primeiro-sobre-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 100px 50px;
  justify-content: center;
  align-items: center;
}

.primeiro-sobre-texto{
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
}

.bold{
  font-weight: 600;
}

.segundo-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}

.segundo-sobre-titulo{
  font-size: 26px;
}

.terceiro-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px;
}

.terceiro-sobre-titulo{
  text-align: center;
  font-size: 26px;
}

.cards-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.p-cards{
  font-size: 16px;
  font-weight: 400;
}

.cards{
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

.icones-cards{
  width: 50px;
}
}