@import url(https://db.onlinewebfonts.com/c/2740fe3b953018145bb25ce790e47e07?family=Galano+Grotesque+Alt+W00+Rg);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galano Grotesque Alt';
}

.a-link{
    text-decoration: none;
    color: inherit;
}

.cabecalho-container{
  padding: 20px 100px;
}

.isotipo-preto{
  width: 40px;
}

.h1-titulo-principal{
  font-size: 70px;
}

.titulo-principal-container{
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue{
  color: #0D4B9D;
}

.cian{
  color: #0296B2;
}

.brown{
  color: #8D6049;
}

.imagem-container{
  height: 600px;
  background: url(/front-end/img/MarinaFlatBG3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.primeiro-sobre-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 100px 100px;
  justify-content: center;
  align-items: center;
}

.primeiro-sobre-texto{
  font-size: 20px;
  font-weight: 400;
  max-width: 60%;
}

.bold{
  font-weight: 600;
}

.segundo-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 100px;
}

.segundo-sobre-titulo{
  font-size: 34px;
}

.terceiro-sobre-container{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 100px;
}

.terceiro-sobre-titulo{
  font-size: 34px;
}

.cards-container{
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.p-cards{
  font-size: 20px;
  font-weight: 400;
}

.cards{
  border-radius: 30px;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

.icones-cards{
  width: 70px;
}