@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galano Grotesque';
}

.a-link{
    text-decoration: none;
    color: #000000;
}

.menu-container{
    gap: 20px;
    padding: 30px;
    flex-direction: column;
    display: flex;
    background-color: #141b2a;
    width: 400px;
    height: 100vh;
}

.logo-container{
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-branca{
    width: 34px;
}

.h1-checkinbr-manager{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.procurar-input{
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 10px;
    color: #FFFFFF;
    background-color: #141b2a;
}

.titulo-menu{
    color: #FFFFFF;
}