@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galano Grotesque Alt';
}

.a-link{
    text-decoration: none;
    color: inherit;
}

.cabecalho-container{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    -webkit-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3); 
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

#logo-cabecalho{
    margin-top: 5px;
    width: 120px;
}

.menu-ul{
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu-li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.botao-perfil{
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    height: 34px;
    width: 100px;
}

.botao-perfil:hover{
    background-color: #2e2e2e;
    transition: 0.3s ease;
}

.botao-perfil:not(:hover){
    transition: 0.3s ease;
}

.principal-container{
    gap: 30px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    background-image: url(/img/MarinaFlatBG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.isotipo-branco{
    margin-top: -60px;
    width: 50px;
}

.h1-principal{
    max-width: 86%;
    line-height: 76px;
    font-size: 76px;
    font-weight: 600;
    color: #FFFFFF;
}

.p-principal{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 50%;
}

.cards-container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 770px;
    width: 100%;
    padding: 0 150px;
    gap: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 250px);
   
}

.cards{
    border-radius: 20px;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 1px 5px 10px -8px rgba(0,0,0,0.9);
}

.h1-cards{
    font-size: 40px;
    font-weight: 500;
}

.p-cards{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.p2-cards{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.marrom{
    font-size: 30px;
    color: #8D6049;
}

.hospedagens-container{
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    padding: 0px 100px;
}

.hospedagens-texto-container{
    gap: 20px;
    display: flex;
    align-items: center;
}

.em-alta{
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 30px;
    background-color: #0296B2;
    color: #FFFFFF;
    border-radius: 50px;
}

.cards-hospedagens-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.cards-hospedagens{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.imagem-card-hospedagens{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.p-cards-hospedagens{
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.localizacao{
    gap: 5px;
    align-items: center;
    display: flex;
}

.p-localizacao{
    text-decoration: underline;
    font-size: 14px;
}

.icone-localizacao{
    margin-left: -3px;
    width: 20px;
}

.preco{
    font-size: 20px;
    font-weight: 700;
}

.cinza{
    font-weight: 400;
    color: #797979;
}

.icone-estrela{
    width: 20px;
}

.preco-avaliacao{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hospedagens-container{
    padding: 100px 100px;
}

.avaliacoes-container{
    background: linear-gradient(to right, #fafafa 0%, #ffffff 50%, #fafafa 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px;
    gap: 20px;
}

.h1-avaliacoes{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.p-avaliacoes{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    max-width: 50%;
}

.cards-avaliacoes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 20px;
}

.cards-avaliacoes{
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    gap: 20px;
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

.dados-usuario{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foto-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 14px;
}

.nome-estrela{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.stars{
    width: 110px;
    margin-left: -7px;
    margin-top: -5px;
}

.comentario{
    font-size: 18px;
    font-weight: 400;
}

.fonte{
    font-size: 14px;
    color: #797979;
}

.explorar-container{
    width: 100%;
    height: 800px;
    background-image: url(/img/ExplorarBG.jpg);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#h1-principal-explorar{
    max-width: 70%;
}

#p-principal-explorar{
    max-width: 70%;
}

.botao-explorar{
    margin-top: 10px;
    width: 200px;
    font-size: 24px;
    background-color: #0296B2;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}

.botao-explorar:hover{
    background-color: #007b93;
    transition: 0.3s ease;
}

.botao-explorar:not(:hover){
    transition: 0.3s ease;
}

.contato-container{
    height: 500px;
    gap: 20px;
    padding: 50px 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.h1-contato{
    font-size: 36px;
    font-weight: 600;
}

.p-contato{
    font-size: 20px;
    font-weight: 400;
    max-width: 60%;
}

.botoes-contatos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botao-whatsapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 200px;
    font-size: 22px;
    background-color: #60d669;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}

.botao-instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 200px;
    font-size: 22px;
    background: linear-gradient(to right, #c837ab, #60f);
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}

.icone-contatos{
    width: 24px;
}

.sobre-nos-container{
    height: 400px;
    background: linear-gradient(to right, #fafafa 0%, #ffffff 50%, #fafafa 100%);
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.h1-sobre-nos{
    font-size: 60px;
    color: #000000;
    text-align: center;
}

.botao-sobre-nos:hover{
    background-color: #007b93;
    transition: 0.3s ease;
}

.botao-sobre-nos:not(:hover){
    transition: 0.3s ease;
}

.botao-sobre-nos{
    margin-top: 20px;
    width: 220px;
    font-size: 24px;
    background-color: #0296B2;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 7px 0;
    border: none;
    cursor: pointer;

}

.rodape-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px 100px;
    background-color: #F5F5F5;
}

.logo-rodape{
    margin-bottom: 50px;
    margin-left: -15px;
    width: 220px;
}

.redes-sociais{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.icones-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.h1-redes-sociais{
    margin-top: 20px;
    font-size: 26px;
}

.icone-rede{
    border-radius: 50%;
    padding: 5px;
    width: 36px;
    background-color: #000000;
}

.rodape-ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
    list-style-type: none;
}

.rodape-li{
    font-size: 18px;
    cursor: pointer;
}

.rodape-li:hover{
    text-decoration: underline;
}