@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.a-link{
    text-decoration: none;
    color: inherit;
}

.cabecalho-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    -webkit-box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3); 
    box-shadow: 1px 5px 20px -8px rgba(0,0,0,0.3);
}

#logo-cabecalho{
    margin-top: 5px;
    width: 120px;
}

.menu-ul{
    font-size: 16px;
    font-weight: 500;
    gap: 20px;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu-li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.botao-perfil{
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    height: 34px;
    width: 100px;
}

.botao-perfil:hover{
    background-color: #2e2e2e;
}

.principal-container{
    gap: 30px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    background-image: url(/front-end/img/MarinaFlatBG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.isotipo-branco{
    margin-top: -60px;
    width: 50px;
}

.h1-principal{
    max-width: 70%;
    line-height: 76px;
    font-size: 76px;
    font-weight: 600;
    color: #FFFFFF;
}

.p-principal{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 60%;
}

.cards-container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 680px;
    width: 100%;
    padding: 0 150px;
    gap: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 250px);
   
}

.cards{
    border-radius: 20px;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 1px 5px 10px -8px rgba(0,0,0,0.9);
}

.h1-cards{
    font-size: 40px;
    font-weight: 500;
}

.p-cards{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.p2-cards{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.marrom{
    font-size: 30px;
    color: #8D6049;
}

