@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

@font-face {
  font-family: 'Galano Grotesque Alt';
  src: url('galano-regular.woff2') format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galano Grotesque Alt';
}

.a-link{
    text-decoration: none;
    color: #000000;
}

.cabecalho-container{
    background-color: #0296B2;
    padding: 5px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pesquisa-menu-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px 0;
}

.icone-voltar{
    margin-top: 5px;
    width: 30px;
}

.h1-checkinbr{
    font-size: 16px;
    color: #FFFFFF;
}